.logo-area{
    align-items: center;
    img{
        width: 90px;
        margin-right: 10px;
    }
    p{
        margin: 0;
    }  
}
.nav-bar{
    margin-left: auto;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            position: relative;
            .hover-menu{
                position: absolute;
                width: 200px;
                z-index: 1;
                top: 32px;
                box-shadow: 0 0 7px 0px #ccc;
                border-radius: 5px;
                padding: 5px;
                background: #fff;
                justify-content: space-around;
                visibility: hidden;
                p{
                    margin: 0;
                }
            }
            a{
                color: #545454;
                padding: 10px;
                font-weight: 500;
                &:hover{
                    text-decoration: none;
                    color: #000;
                }
            }
            &:hover .hover-menu{
                display: flex;
                visibility:visible;
            }
        }
    }
}
header{
    box-shadow: 0 0 5px 1px #ccc;
    display: block;
}