<footer class="">
    
  <!--  -->
      <div  class="main-footer">
      <div  class="inner-footer">
          <div>
              <a href="#" class="logo">
                  <img src="./../../assets/images/logo.png" >
              </a>
              <ul class="footer-img">
                  <li>
                      <a >
                          <img src="../../../assets/images/icons/icons for kingbest mall/25 x25/about us.png">About Us</a>
                  </li>
                  <li>
                      <a >
                          <img src="../../../assets/images/icons/icons for kingbest mall/25 x25/contact us.png">Contact Us
                      </a>
                  </li>
                  <li>
                      <a routerLink="/gallery">
                          <img src="../../../assets/images/icons/icons for kingbest mall/25 x25/store gallery.png">Store Gallery
                      </a>
                  </li>
                  <li>
                      <a >
                          <img src="../../../assets/images/icons/dashboard icons/unsubscribe-25.png">Un-Subscribe
                      </a>
                  </li>
                 
              </ul>
          </div>
          <div>
                  <h4>Categories</h4>
                  <ul>
                      <li class="footer-img" (click)="navigatetofilterproduct('W')" >
                        Women
                      </li>
                      <li class="footer-img"  (click)="navigatetofilterproduct('M')">
                        Men
                      </li>
                  </ul>
              </div>
          <div>
                  <h4>Accounts</h4>
                  <ul class="footer-img">
                      <li>
                          <a routerLink="/signup">
                              <img src="../../../assets/images/icons/icons for kingbest mall/25 x25/sign up .png">Signup Now
                          </a>
                      </li>
                      <li>
                          <a routerLink="/login">
                              <img src="../../../assets/images/icons/icons for kingbest mall/25 x25/my account .png">My Account
                          </a>
                      </li>
                  </ul>
              </div>

          <div>
              <h4>Get in Touch</h4>
              <ul>
                  <li>
                      Address:
                  </li>
                  <li>
                    Awami Traid centar Shop No. 26-27, G-9 Markaz Karachi Company,
                     G 9 Markaz G-9, Islamabad, Islamabad Capital Territory 44090
                  </li>
                  <li>
                      Contact Phone:
                  </li>
                  <li>
                    03319505063
                  </li>
 
                  <li>
                      Email : ownstylefabrics@Gmail.com
                  </li>
              </ul>
          </div>
          
              <div>
                  <h4>Social Links</h4>
                  <ul class="footer-link">
                          <li>
                              <a href="https://www.facebook.com/ownstylefabrics" rel="noreferrer" target="_blank">
                                  <img alt="" height="45px" src="../../../assets/images/icons/facebook1.png" width="45px">Facebook
                              </a>
                          </li>
                          
                          <li>
                              <a href="http://instagram.com/ownstylefabrics" rel="noreferrer" target="_blank">
                                  <img alt="" height="45px" src="../../../assets/images/icons/instagrame.png" width="45px">Instagram
                              </a>
                          </li>
                      </ul>
              </div>
              

      </div>
  </div>
  
  <!--  -->
  
  

  <div class="t-center copy-r">
      <div class="">
          Copyright © 2020 All rights reserved
          <a routerLink="/privacy-policy" target="_blank">Privacy Policy</a>
          | 
          <a routerLink="/terms" target="_blank">Terms of Use</a>
      </div>
      <!-- <div class="input-group footer-input">
                  <form [formGroup]="form">
                      <div class="footer-input">
                        <div class="input-group">
                          <input type="email" class="form-control" placeholder="Subscribe to KingBestMall" formControlName="email"
                            [(ngModel)]="Email">
                          <div class="input-group-append">
                            <button class="btn" type="button" (click)="subscribe()" [disabled]="!form.valid">
                              <i class="fa fa-arrow-up"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <p class="m-0" *ngIf="form.controls.email.touched && !form.controls.email.valid">
                        <span *ngIf="form.controls.email.errors.pattern" class="alert alert-danger">
                          Invalid Email Address.
                        </span></p>
                    </form>
      </div> -->
  </div>
</footer>
