.product-container{
    margin-top: 70px;
    padding: 0;
}
.product{
    display: flex;
}
.table{
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px 1px #efefef;
    thead{
        tr{
            background: #041e42;
            color: #fff;
            th{
                font-weight: 400 !important;
            }
        }
    }
}
.fa-trash , .fa-edit{
    font-size: 20px;
    margin: 4px;
    cursor: pointer;
}
.fa-trash{
    color: #c00;
}
.fa-edit{
    color: green;
}
img{
    width: 48px;
}
.modal{
    .modal-dialog{
        max-width: 700px !important;
        margin-top: 40px;
        .modal-content{
            padding: 10px;
        }
    }
    .modal-header{
        text-align: center;
        position: relative;
        background: #041e42;
        color: #fff;
        border-radius: 5px;
        margin-top: -30px;
        .close{
            position: absolute;
            right: 5px;
            color: #fff;
            top: 0px;
            margin: 0;
            padding: 0;
            opacity: 1
        }
        h4{
            text-align: center;
            width: 100%;
        }
    }
    .form-group{
        text-align: left;
    }
    .modal-footer{
        justify-content: center;
        .btn{
            background: #041e42;
            color: #fff;
            border-radius: 50px;
        }
    }
}