<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Product Image</th>
            <th scope="col">Title</th>
            <th scope="col">Piece</th>
            <th scope="col">InStock</th>
            <th scope="col">Category</th>
            <th scope="col">Fabric type</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Gender</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let items of ProductList_array.Result" >
          <tr>
            
            <td> <img src="{{items.product_image}}" ></td>
            <td>{{items.product_title}}</td>
            <td>{{items.product_piece}}</td>
            <td *ngIf="items.In_Stock == true" style="color: green;">Available</td>
            <td *ngIf="items.In_Stock == false" style="color: red;">Out Stock</td>
            <td>{{items.product_category}}</td>
            <td>{{items.product_fabric}}</td>
            <td>{{items.product_description}}</td>
            <td>{{items.product_price}}</td>
            <td *ngIf="items.product_gender == 'W'">Women</td>
            <td *ngIf="items.product_gender == 'M'">Men</td>
           <td class="text-center">
              <i class="fa fa-trash" aria-hidden="true" data-toggle="modal" (click)="_GetProductDetailByID(items.id)" data-target="#myModalDeleteProduct"></i>
              <i class="fa fa-edit" aria-hidden="true" data-toggle="modal" (click)="_GetProductDetailByID(items.id)" data-target="#myModalUpdateProduct" ></i>    <!-- </div> -->  
            </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
<div class="modal fade" id="myModalUpdateProduct" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Product Detail</h4>
      </div>
      <div class="modal-body text-center">
        <form [formGroup]="form_updateproduct" class="row">
          
          <div class="form-group col-lg-6">
            <label for="exampleFormControlInput1">Product Title</label>
            <input type="email" class="form-control" formControlName="p_Title"  [(ngModel)]="ProductDetailList_array.product_title" placeholder="Title">
          </div>
          <div class="form-group col-lg-6">
            <label for="exampleFormControlSelect1">Pieces</label>
            <select class="form-control" formControlName="p_Piece"  [(ngModel)]="ProductDetailList_array.product_piece" >
              <option *ngFor="let item of selectpiece" [value]="item.value">{{item.type}}</option>
            
            </select>
          </div>
          <div class="form-group col-lg-6">
            <label for="exampleFormControlSelect1">Fabric Type</label>
            <select class="form-control" formControlName="p_FabricType" [(ngModel)]="ProductDetailList_array.product_fabric" >
              <option *ngFor="let item of selectfabrictype" [value]="item.value">{{item.type}}</option>
             
            </select>
          </div>
          <div class="form-group col-lg-6">
            <label for="exampleFormControlSelect1">Product Category</label>
            <select class="form-control" formControlName="p_Cat" [(ngModel)]="ProductDetailList_array.product_category" >
              <option *ngFor="let item of selectcategory" [value]="item.value">{{item.type}}</option>
             
            </select>
          </div>
          <div class="form-group col-lg-6">
            <label for="exampleFormControlTextarea1">Product Description</label>
            <textarea class="form-control" formControlName="p_Description" [(ngModel)]="ProductDetailList_array.product_description" ></textarea>
          </div>
          <div class="form-group col-lg-6">
            <label for="exampleFormControlInput1">Product Price</label>
            <input type="email" class="form-control" formControlName="p_Price"  [(ngModel)]="ProductDetailList_array.product_price" placeholder="pkr...">
          </div>
          <div class="form-group col-lg-6">
            <mat-radio-group aria-label="Select an option">
              <label for="" class="mr-3">Gender</label>
              <mat-radio-button class="d-flex"  *ngIf="ProductDetailList_array.product_gender == 'W'" checked   >Women</mat-radio-button>
              <mat-radio-button class="d-flex" *ngIf="ProductDetailList_array.product_gender == 'M'" checked   >Men</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="form-group col-lg-6">
            <img src="{{ProductDetailList_array.product_image}}" alt="">
            <label for="" class="ml-3"> InStock</label>
            <mat-checkbox value="value" [ngModel]="value" formControlName="p_Stock" (change)="InStock('1')"></mat-checkbox>
        </div>

        <div class="col-md-6">

        <button type="button" class="btn btn-dark" (click)="_UpdateProduct()" data-dismiss="modal">Update Product</button>
        </div>
        <div class="col-md-6">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
        
      </div>
       </form>
      </div>
    </div>
  </div>
 </div>
<div class="modal fade" id="myModalDeleteProduct" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmation Alert</h4>
      </div>
      <div class="modal-body text-center">
        <p>Do you want to Delete This Product?</p>
      </div>
      <div class="modal-footer d-flex">
        <button type="button" class="btn btn-default btn_black" (click)="DeleteProduct()" data-dismiss="modal">Delete Product</button>
        <button type="button" class="btn btn-default btn_black" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
 </div>