
<app-header></app-header>
<div class="dashboard-layout">
    <div class="side-bar">
        <button class="closs" (click)="close()">
                        <i class="fa fa-times"></i>
        </button>
        <!-- <div class="position-relative text-center">
                <input (change)="onChange($event);uploadProfile()" type="file" #image
                        accept="image/gif, image/jpeg, image/png" required id="input-file1">

                <img class="camera" src="../../../assets/images/icons/photo-compnay.png" alt="">
        </div> -->
        <ul  class="">
                <li ><a routerLink="/mydetail" routerLinkActive="active-route">
                        <img src="../../../assets/images/my account.png"> My Account</a></li>
                <li ><a routerLink="/user-dashboard" routerLinkActive="active-route" >
                <img src="../../../assets/images/my order.png"> My Order</a></li>
                <li ><a routerLink="/addnewproduct"  routerLinkActive="active-route">
                        <img src="../../../assets/images/my downloads.png"> My Downloadable Products</a></li>
                <li  ><a routerLink="/listedproducts"  routerLinkActive="active-route">
                        <img src="../../../assets/images/my watch list.png"> My Watch List </a></li>
                <li ><a routerLink="/paymentmethod"  routerLinkActive="active-route">
                                <img src="../../../assets/images/address book.png"> Address Book </a></li>
                <li ><a routerLink="/mypurchase" routerLinkActive="active-route">
                    <img src="../../../assets/images/information.png"> Account Information</a></li>
                <li ><a routerLink="/changepassword" routerLinkActive="active-route">
                    <img src="../../../assets/images/store credit.png"> Store Credit</a>
                </li>
                <li ><a routerLink="/changepassword" routerLinkActive="active-route">
                    <img src="../../../assets/images/gift card.png"> Gift Crad</a>
                </li>
                <li ><a routerLink="/changepassword" routerLinkActive="active-route">
                    <img src="../../../assets/images/reward points.png"> Reward Points</a>
                </li>
                <li ><a routerLink="/changepassword" routerLinkActive="active-route">
                    <img src="../../../assets/images/gifts registry.png"> Gifts Registry</a>
                </li>
                <li ><a routerLink="/changepassword" routerLinkActive="active-route">
                    <img src="../../../assets/images/my product.png"> My Product Reviews</a>
                </li>
                <li ><a routerLink="/changepassword" routerLinkActive="active-route">
                    <img src="../../../assets/images/newsletter.png"> Newsletters Subscriptions</a>
                </li>
                <li ><a routerLink="/changepassword" routerLinkActive="active-route">
                    <img src="../../../assets/images/invitation.png"> My Invitations</a>
                </li>
                <li ><a routerLink="/changepassword" routerLinkActive="active-route">
                    <img src="../../../assets/images/account.png"> My Social Accounts</a>
                </li>
        </ul>
    </div>
    <div class="dashboard-body">
        <!-- <button class="open" (click)="open()">
            <i class="fa fa-bars"></i>
        </button> -->
        <router-outlet></router-outlet>
    </div>
</div>
<app-footer></app-footer>