<app-header></app-header>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-5">
            <div class="img-section">
                <div class="big-img">
                    <img src="{{productdetail_array.product_image}}" alt="">
                </div>
                <div class="small-img mt-2">
                    <img src="https://www.junaidjamshed.com/media/catalog/product/2/0/20-115s_1_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=110&width=86S" alt="">
                    <img src="https://www.junaidjamshed.com/media/catalog/product/2/0/20-115s_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=110&width=86" alt="">
                    <img src="https://www.junaidjamshed.com/media/catalog/product/2/0/20-115s_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=110&width=86" alt="">
                    <img src="https://www.junaidjamshed.com/media/catalog/product/2/0/20-115s_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=110&width=86" alt=""> 
                </div>
            </div>
        </div>
        <div class="col-lg-7 pro-detail">
            <h3 class="tittle">{{productdetail_array.product_title}}</h3>
            <span>{{productdetail_array.product_fabric}}</span>
            <p *ngIf="productdetail_array.In_Stock == true">IN STOCK</p>
          
            <div class="price">
                <span class="new">PKR {{ productdetail_array.product_price}}</span>
                <!-- <span class="old">PKR5,190</span> -->
            </div>
            <hr class="mb-5">
            <div class="size">
                <div class="">
                    <p>Quantity:</p>
                    <input matInput type="number" style="width: 58px;text-align: center; font-weight: bold;" value="1" [(ngModel)]="qty" required>
                    <!-- <input matInput class="size8 m-text18 t-center num-product" type="number"  [(ngModel)]="qty"
                                      style="font-size: 15px !important;" id="qty" name="qty" required> -->
                </div>
                <!-- <label for="">SIZE</label>
                <div class="seclect-size">
                    <span>XS</span>
                    <span>S</span>
                    <span>M</span>
                    <span class="no-avil">XL</span>
                </div> -->
                <!-- <a href="#" class="size-chart">
                    <img src="https://www.junaidjamshed.com/static/version1586704397/frontend/Rltsquare/junaidjamshed/en_US/Plumrocket_SizeChart/images/rule.png" alt="">
                    SIZE CHART
                </a> -->
                <br>
                <button class="add-to-bag" (click)=" AddtoCartList()">
                    ADD TO BAG
                </button>
                <a (click)=" AddtoWatchList()"  class="add-to-fav">
                    <i  class="fa fa-heart"></i>
                </a>
                <p class="details">
                    {{productdetail_array.product_description}}
                </p>            
                </div>      
        </div>
    </div>
</div>

<div class="container slider-section">
    <h1>RELATED PRODUCTS</h1>

    <div class="multiple-items">
        <div class="slider-box">
            <div class="img">
                <img src="https://www.junaidjamshed.com/media/catalog/product/2/0/20-365_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=&width=&canvas=:" alt="">
            </div>
            <div class="about-pro">
                <a href="#">JJLK-S-JSS-20-365 FB/ESB-20-007</a>
                <span class="new-p">PKR2,392.50</span>
                <span class="old-p">PKR3,490.00</span>
            </div>
        </div>
        <div class="slider-box">
            <div class="img">
                <img src="https://www.junaidjamshed.com/media/catalog/product/2/0/20-365_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=&width=&canvas=:" alt="">
            </div>
            <div class="about-pro">
                <a href="#">JJLK-S-JSS-20-365 FB/ESB-20-007</a>
                <span class="new-p">PKR2,392.50</span>
                <span class="old-p">PKR3,490.00</span>
            </div>
        </div>
        <div class="slider-box">
            <div class="img">
                <img src="https://www.junaidjamshed.com/media/catalog/product/2/0/20-365_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=&width=&canvas=:" alt="">
            </div>
            <div class="about-pro">
                <a href="#">JJLK-S-JSS-20-365 FB/ESB-20-007</a>
                <span class="new-p">PKR2,392.50</span>
                <span class="old-p">PKR3,490.00</span>
            </div>
        </div>
        <div class="slider-box">
            <div class="img">
                <img src="https://www.junaidjamshed.com/media/catalog/product/2/0/20-365_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=&width=&canvas=:" alt="">
            </div>
            <div class="about-pro">
                <a href="#">JJLK-S-JSS-20-365 FB/ESB-20-007</a>
                <span class="new-p">PKR2,392.50</span>
                <span class="old-p">PKR3,490.00</span>
            </div>
        </div>
        <div class="slider-box">
            <div class="img">
                <img src="https://www.junaidjamshed.com/media/catalog/product/2/0/20-365_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=&width=&canvas=:" alt="">
            </div>
            <div class="about-pro">
                <a href="#">JJLK-S-JSS-20-365 FB/ESB-20-007</a>
                <span class="new-p">PKR2,392.50</span>
                <span class="old-p">PKR3,490.00</span>
            </div>
        </div>
      </div>

</div>

<app-footer></app-footer>