<div class="container my-5">
    <div class="row">
        <div class="col-lg-5">
            <div class="img-section">
                <div class="big-img">
                    <img src="https://www.junaidjamshed.com/media/catalog/product/2/0/20-115s_1_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=560&width=436" alt="">
                </div>
                <div class="small-img">
                    <img src="https://www.junaidjamshed.com/media/catalog/product/2/0/20-115s_1_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=110&width=86S" alt="">
                    <img src="https://www.junaidjamshed.com/media/catalog/product/2/0/20-115s_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=110&width=86" alt="">
                    <img src="https://www.junaidjamshed.com/media/catalog/product/2/0/20-115s_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=110&width=86" alt="">
                    <img src="https://www.junaidjamshed.com/media/catalog/product/2/0/20-115s_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=110&width=86" alt=""> 
                </div>
            </div>
        </div>
        <div class="col-lg-7 pro-detail">
            <h3 class="tittle">JLAWN-S-20-115/S Suzani</h3>
            <span>SKU J-GL110610</span>
            <p>IN STOCK</p>
            <a href="#">BE THE FIRST TO REVIEW THIS PRODUCT</a>
            <div class="price">
                <span class="new">PKR3,893</span>
                <span class="old">PKR5,190</span>
            </div>
            <hr class="mb-5">
            <div class="size">
                <label for="">SIZE</label>
                <div class="seclect-size">
                    <span>XS</span>
                    <span>S</span>
                    <span>M</span>
                    <span class="no-avil">XL</span>
                </div>
                <a href="#" class="size-chart">
                    <img src="https://www.junaidjamshed.com/static/version1586704397/frontend/Rltsquare/junaidjamshed/en_US/Plumrocket_SizeChart/images/rule.png" alt="">
                    SIZE CHART
                </a>
                <br>
                <button class="add-to-bag">
                    ADD TO BAG
                </button>
                <a href="" class="add-to-fav">
                    <i class="fa fa-heart"></i>
                </a>
                <p class="details">Collection Type: Basic Mill Print Lawn Shirt - Dyed Laced/Cut Lawn Trouser - Basic Mill Print Lawn Dupatta<br>Wear
                    Type: Casual<br>Fabric Type: Lawn<br>Neckline: Band Collar With Placket<br>Sleeves: Straight<br>Trouser:
                    Straight<br>Style Cut: A-Line<br>Length: Long<br>Embellishment: Fabric Manipulation On Sleeves, Lace On Daman And
                    Trouser
                </p>            
                </div>


                
        </div>
    </div>
</div>

<div class="container slider-section">
    <h1>RELATED PRODUCTS</h1>

    <div class="multiple-items">
        <div class="slider-box">
            <div class="img">
                <img src="https://www.junaidjamshed.com/media/catalog/product/2/0/20-365_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=&width=&canvas=:" alt="">
            </div>
            <div class="about-pro">
                <a href="#">JJLK-S-JSS-20-365 FB/ESB-20-007</a>
                <span class="new-p">PKR2,392.50</span>
                <span class="old-p">PKR3,490.00</span>
            </div>
        </div>
        <div class="slider-box">
            <div class="img">
                <img src="https://www.junaidjamshed.com/media/catalog/product/2/0/20-365_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=&width=&canvas=:" alt="">
            </div>
            <div class="about-pro">
                <a href="#">JJLK-S-JSS-20-365 FB/ESB-20-007</a>
                <span class="new-p">PKR2,392.50</span>
                <span class="old-p">PKR3,490.00</span>
            </div>
        </div>
        <div class="slider-box">
            <div class="img">
                <img src="https://www.junaidjamshed.com/media/catalog/product/2/0/20-365_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=&width=&canvas=:" alt="">
            </div>
            <div class="about-pro">
                <a href="#">JJLK-S-JSS-20-365 FB/ESB-20-007</a>
                <span class="new-p">PKR2,392.50</span>
                <span class="old-p">PKR3,490.00</span>
            </div>
        </div>
        <div class="slider-box">
            <div class="img">
                <img src="https://www.junaidjamshed.com/media/catalog/product/2/0/20-365_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=&width=&canvas=:" alt="">
            </div>
            <div class="about-pro">
                <a href="#">JJLK-S-JSS-20-365 FB/ESB-20-007</a>
                <span class="new-p">PKR2,392.50</span>
                <span class="old-p">PKR3,490.00</span>
            </div>
        </div>
        <div class="slider-box">
            <div class="img">
                <img src="https://www.junaidjamshed.com/media/catalog/product/2/0/20-365_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=&width=&canvas=:" alt="">
            </div>
            <div class="about-pro">
                <a href="#">JJLK-S-JSS-20-365 FB/ESB-20-007</a>
                <span class="new-p">PKR2,392.50</span>
                <span class="old-p">PKR3,490.00</span>
            </div>
        </div>
      </div>

</div>


