<div class="product-page mt-5">
  <h1 class="text-center">Women</h1>
  <div class="layout">
    <div class="sidebar">
      <h5>SHOPPING OPTIONS</h5>

      <!--  -->
      <div class="card-header d-flex justify-content-between" id="headingCollapse1">
        <div>
            <a class="collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
              CATEGORY
            </a>
        </div>
        <div>
            <a data-toggle="collapse" class="collapsed btn btn-default btn-xs text-right" href="#collapse1" aria-label="Expand/Collapse Card 1" aria-expanded="false" role="button">
                <i class="fa" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div id="collapse1" class="collapse" aria-labelledby="headingCollapse1">
        <div class="card-body">
            Here is some wonderful content that you can't see...until expanded!
        </div>
    </div>
      <!--  -->


    </div>
    <div class="content-area">
        <div class="filter-bar">
          <div class="left-side d-flex">
            <button href="#" (click)="grid()">
              <i class="fa fa-th" aria-hidden="true"></i>
            </button>
            <button href="#" (click)="list()">
              <i class="fa fa-list" aria-hidden="true"></i>
            </button>
            <p>ITEMS 1-15 OF 509</p>
          </div>
          <div class="right-side">
            <p>SORT BY</p>
          <mat-form-field>
            <mat-label>Cars</mat-label>
            <select matNativeControl required>
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </mat-form-field>
          </div>
        </div>


        <!-- Start Grid View -->
        <div class="grid-view">
          <div class="row">
            <div class="col-lg-4">
              <div class="g-view">
                <div class="g-img">
                  <img src="https://www.junaidjamshed.com/media/catalog/product/j/j/jjbl-20-006_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=755&width=589&canvas=589:755" alt="">
                </div>
                <div class="about-pro">
                  <a href="#">JJBL-20-006 FB/F-275</a>
                  <div class="btns">
                    <button>ADD TO BAG</button>
                    <div class="price">
                      <span class="new">PKR1,867.50</span>
                      <span class="old">PKR2,490.00</span>
                    </div>
                    <p class="dis">25% OFF</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="g-view">
                <div class="g-img">
                  <img src="https://www.junaidjamshed.com/media/catalog/product/j/j/jjbl-20-006_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=755&width=589&canvas=589:755" alt="">
                </div>
                <div class="about-pro">
                  <a href="#">JJBL-20-006 FB/F-275</a>
                  <div class="btns">
                    <button>ADD TO BAG</button>
                    <div class="price">
                      <span class="new">PKR1,867.50</span>
                      <span class="old">PKR2,490.00</span>
                    </div>
                    <p class="dis">25% OFF</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="g-view">
                <div class="g-img">
                  <img src="https://www.junaidjamshed.com/media/catalog/product/j/j/jjbl-20-006_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=755&width=589&canvas=589:755" alt="">
                </div>
                <div class="about-pro">
                  <a href="#">JJBL-20-006 FB/F-275</a>
                  <div class="btns">
                    <button>ADD TO BAG</button>
                    <div class="price">
                      <span class="new">PKR1,867.50</span>
                      <span class="old">PKR2,490.00</span>
                    </div>
                    <p class="dis">25% OFF</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="g-view">
                <div class="g-img">
                  <img src="https://www.junaidjamshed.com/media/catalog/product/j/j/jjbl-20-006_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=755&width=589&canvas=589:755" alt="">
                </div>
                <div class="about-pro">
                  <a href="#">JJBL-20-006 FB/F-275</a>
                  <div class="btns">
                    <button>ADD TO BAG</button>
                    <div class="price">
                      <span class="new">PKR1,867.50</span>
                      <span class="old">PKR2,490.00</span>
                    </div>
                    <p class="dis">25% OFF</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="g-view">
                <div class="g-img">
                  <img src="https://www.junaidjamshed.com/media/catalog/product/j/j/jjbl-20-006_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=755&width=589&canvas=589:755" alt="">
                </div>
                <div class="about-pro">
                  <a href="#">JJBL-20-006 FB/F-275</a>
                  <div class="btns">
                    <button>ADD TO BAG</button>
                    <div class="price">
                      <span class="new">PKR1,867.50</span>
                      <span class="old">PKR2,490.00</span>
                    </div>
                    <p class="dis">25% OFF</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Grid View -->

         <!-- Start List View -->
         <div class="list-view">
            <div class="row l-view">
              <div class="col-lg-2">
                <div class="list-img">
                  <img src="https://www.junaidjamshed.com/media/catalog/product/j/j/jjbl-20-006_2_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=&width=&canvas=:" alt="">
                </div>
              </div>
              <div class="col-lg-10 l-about-pro">
                <a href="#">JJBL-20-006 FB/F-275</a>
                <div class="btns">
                  <button>ADD TO BAG</button>
                  <div class="price">
                    <span class="new">PKR1,867.50</span>
                    <span class="old">PKR2,490.00</span>
                  </div>
                  <p class="dis">25% OFF</p>
                </div>
              </div>
            </div>
         </div>
        <!-- End List View -->

    </div>
  </div>
</div>