<div class="container">
  <div class="d-flex">
    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">Product Title</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Piece</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>3 Piece</option>
          <option>2 Piece</option>
          <option>1 Piece</option>
          
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Product Category</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Stiched</option>
          <option>Un-Stiched</option>
          <option>Shawl</option>
          
        </select>
      </div>
      Copy
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> InStock
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2" autocomplete="off"> True
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off"> False
      </label>
    </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Fabeic Type</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
          <option>Lawn</option>
          <option>Shafoon</option>
          <option>Cotton</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Product Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Price</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="PKR">
      </div>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Gender
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option2" autocomplete="off"> Women
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option3" autocomplete="off"> Men
        </label>
      </div>
      <button type="button" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
