.a-n-p{
    .d-flex{
        width: 70%;
        margin: 29px auto;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px #ccc;
        padding: 15px;
        header{
            background: #041e42;
            display: block;
            color: #fff;
            text-align: center;
            padding: 10px;
            font-size: 20px;
            border-radius: 5px;
            margin: -30px 0px 18px 0;
        }
    }
    .row{
        width: 100%;
        margin: 0 auto;
        mat-form-field{
            width: 100%;
        }
        .btn-info{
            background: #041e42;
            margin: 14px auto 0;
            width: 50%;
            border-radius: 50px;
        }
    }
}
.image-tag{
    position: absolute;
    right: 224px;
    width: 273px;
    top: 8px;
    opacity: 0;
}
.uploadphotobx{
    box-shadow: 0 0 5px #ccc;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}
.mat-checkbox-inner-container-no-side-margin {
    margin-top: 4px;
}