<app-header></app-header>
<div class="watchlist mt-4">
  <h3>My Wishlist</h3>
  <div class="container">
    <div class="row">
      <!-- <div *ngIf="watchlistArray.Results.length " >
        So far you have no any watchlist item.
      </div> -->
      <div class="col-lg-3 p-0" *ngIf="watchlistArray.Results.length > 0">
        <div class="g-view"  *ngFor="let items of watchlistArray.Results ">
          <div class="g-img" (click)="navigatetoproductdetail(items.product_detail.id)">
            <img src="{{items.product_detail.product_image}}" alt="">
          </div>
          <div class="about-pro">
            <a (click)="navigatetoproductdetail(items.product_detail.id)">{{items.product_detail.product_title}}</a>
            <div class="btns">
              <button>ADD TO BAG</button>
              <div class="price">
                <span class="new" (click)="navigatetoproductdetail(items.product_detail.id)"> PKR {{items.product_detail.product_price}}</span>
                <!-- <span class="old">PKR2,490.00</span> -->
              </div>
              <p class="dis" (click)="navigatetoproductdetail(items.product_detail.id)">{{items.product_detail.product_fabric}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<app-footer></app-footer>