.watchlist{
    min-height: 450px;
    h3{
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 15px;
      text-align: center;
    }
  
      .g-view{
          // margin: 0 5px;
          padding: 10px;
          cursor: pointer;
          border-radius: 5px;
          &:hover{
              box-shadow: 0 0 8px 2px #ccc;
          }
          .g-img{
              img{
                  width: 100%;
              }
          }
          .about-pro{
              a{   
                  font-size: 14px;
                  text-transform: uppercase;
                  color: #444; 
              }
              .btns{
                  display: flex;
                  align-items: center;
                  button{
                      background: #fff;
                      color: #000;
                      border: 2px solid #000;
                      white-space: nowrap;
                      font-size: 14px;
                      line-height: 0;
                      padding: 18px 8px;
                      &:hover{
                          background: #000;
                          color: #fff;
                      }
                  }
                  .price{
                      display: flex;
                      flex-direction: column;
                      .new{
                          color: #c00;
                          font-size: 14px;
                      }
                      .old{
                          color: #444;
                          text-decoration: line-through;
                          font-size: 14px;
                      }
                  }
                  .dis{
                      background: #c00;
                      color: #fff;
                      margin-left: auto;
                      padding: 0 5px;
                  }
              }   
          }
      }
}