.main-slider{
    img{
        width: 100%;
    }
    i{
        color: #000;
        font-size: 30px;
    }
}
.a-n-p{
    textarea{
        height: 22px;
        resize: none;
    }
    mat-radio-group{
        label{
            margin: 0 8px 0 0;
        }
    }
    .mat-radio-label-content{
        padding-left: 2px;
        padding-right: 10px;
    }
}
.slide-l , .slide-r{
    position: absolute;
    top: 46%;
    font-size: 40px;
    z-index: 2;
}
.slide-l{
    left: -50px;
}
.slide-r{
    right: -50px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
