
<app-header></app-header>
<section class="slide1">
    <!-- <div class="download-btns">
        <a href="#" target="_blank">
            <img alt="Apple Store" src="../../../assets/images/icons/apple-store.png">
        </a>
        <a href="#" target="_blank">
            <img alt="Google Play Store" src="../../../assets/images/icons/google-play.png">
        </a>
    </div> -->
<div class="wrap-slick1">
    <div class="slick1">
            <div class="item-slick1 item2-slick1">
                <img src="../../../assets/images/icons/KBMSlider/slider1.png">
            </div>
            <div class="item-slick1 item2-slick1">
                <img src="../../../assets/images/icons/KBMSlider/slider2.png">
            </div>
            <div class="item-slick1 item2-slick1">
                <img src="../../../assets/images/icons/KBMSlider/slider3.png">
            </div>
            <div class="item-slick1 item2-slick1">
                <img src="../../../assets/images/icons/KBMSlider/slider4.png">
            </div>
            <div class="item-slick1 item2-slick1">
                <img src="../../../assets/images/icons/KBMSlider/slider5.png">
            </div>  
    </div>
</div>
</section>
<div class="d-flex flex-row">
    
    <div class="col-xs-6 col-md-4 col-md-push-2 topmargindesk  full-wd-767">
        <h2>Women Kurtis</h2>
        <img src="./../../assets/images/womenkurti_banner1.jpg" width="800" height="1200" alt="">
    </div>
    <div class="col-xs-6 col-md-3 col-md-push-3 mg-sec-3 hide-767" >
        <img src="./../../assets//images/womenkurti_banner2.jpg" alt="">
    </div>
</div>
<div class="d-flex flex-row">
    
    <div class="col-xs-6 col-md-4 col-md-push-2 topmargindesk  full-wd-767">
        <h2>Men's Wear</h2>
        <img src="./../../assets/images/menkurtA1.jpg" width="800" height="1200" alt="">
    </div>
    <div class="col-xs-6 col-md-3 col-md-push-3 mg-sec-3 hide-767" >
        <img src="./../../assets/images/menkurtA22_1.jpg" alt="">
    </div>
</div>

<app-footer></app-footer>