.wrap-slick1{
    height: 100%;
}
 .img2{  
    margin-top: -1800px;
    width: 360px;
    margin-left: 580px; 
   
}
h2{
    position: absolute;
}
.categorie{
    margin: 50px auto;
    .col-md-4{
        margin: 100px 0 0 50px;
        background: #ffe8e8;
    }
    h3{
        font-size: 64px;
        font-weight: 600;
        text-transform: capitalize;
        text-shadow: 0 0 2px #fff;
    }
    p{
        font-size: 18px;
        font-weight: 400;
        line-height: 40px;
        text-shadow: 0 0 2px #fff;
    }
}
